<div class="inner">
  <header class="major">
    <h2>Come celebrate with us!</h2>
    <p>August 2, 2019</p>
	
	<p>Is Morus Relais<br>
	09010 S. Margherita di Pula<br>
	Cagliari – Sardegna – Italy</p>
	
	<p>
	5:00 PM - Venue Opens<br/>
	6:00 PM - Ceremony<br/>
	7:00 PM - Cocktail Hour<br/>
	8:00 PM - Dinner Hour<br/>
	10:00 PM - 01:00 AM - Party!
	</p>
	
	<p>
	<a target="_blank" href="">Add this event to Google Calendar</a>
	</p>
	
	<p>Share photos with the hashtag <strong>#somethingtothinkof</strong></p>	
  </header>
</div>
